/* font bijvoegen!!!! */

*, html {
    margin: 0;
    padding: 0;
}





/* HEADER/NAV */
header {
    background-color: grey;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 1.5em;
}





/* BELOWHEADER/EERSTE SECTIE */
/* deze tekstjes wil ik goed laten aansluiten bij de images */
section:first-of-type {
    background-color:rgb(251, 251, 253);
}
li > img {
    width: 4em;
    height: 4em;
}





/* TWEEDE SECTIE */
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
/* deze image wil ik in laten "vliegen" met javascript */
section:nth-of-type(2)>img {
    margin: 10em;
    width: 30em;
}
h1 {
    font-size: 5em;
    margin: 0.5em;
}
p {
    font-size: 2em;
    max-width: 15em;
}
section:nth-of-type(2)>p:nth-of-type(3) {
    color: rgb(118, 119, 121);
    margin: 2em;
}





/* DERDE SECTIE */
section:nth-of-type(3) {
    background-color: rgb(245, 219, 171);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}
section:nth-of-type(3)>h1 {
    color: orange;
}
/* deze li's wil ik onder elkaar, naast de afbeelding hebben staan */
section:nth-of-type(3)>ul {
    display: flex;
    flex-direction: column;
    color: orange;
}

/* hiertussen zit witruimte die ik eigenlijk weg wil hebben */


/*VIERDE SECTIE*/
section:nth-of-type(4) {
    background-color: rgb(173, 201, 215);
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}
section:nth-of-type(4)>img {
    margin: 10em;
    width: 30em;
}
section:nth-of-type(4)>h1 {
    color:rgb(47, 65, 173);
    max-width: 15em;
}

/*VIJFDE SECTIE*/
section:nth-of-type(5) {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
/* hier wil ik een carrousel van maken*/
section:nth-of-type(5)>ul {
}

