/* font bijvoegen!!!! */

*, html {
    margin: 0;
    padding: 0;
}

:root {
	--navKleur: rgba(15, 9, 9, 0);
}




/* de a-linkjes wil ik zwart maken*/
a {
    list-style: none;
    text-decoration: none;
}
a.visited {
    color: var(--navKleur);
}




/* HEADER/NAV */
header {
    background-color: grey;
    position:fixed;
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}





/* BELOWHEADER/EERSTE SECTIE */
/* deze tekstjes wil ik goed laten aansluiten bij de images 
en een aparte scrollbalk maken */
section:first-of-type {
    background-color:rgb(251, 251, 253);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3em;
    
}
section:first-of-type > li > img {
    width: 20%;
}





/* TWEEDE SECTIE */
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
/* deze image wil ik in laten "vliegen" met javascript */
section:nth-of-type(2)>img {
    padding: 10em;
    width: 30em;
    animation: ease-in;
    
}
/* bij de transition wil ik dat alleen de afbeelding beweegt, en niet de content eronder
naar onder schuift. dus dat het op zn plek blijft.
daarnaast wil ik dat als er niet meer gehoverd wordt, dat de afbeelding langzaam teruggaat naar 
het eerste formaat, en niet plots terugschiet */
section:nth-of-type(2)>img:hover {
    width: 40em;
    transition-duration: .3s;   
}
h1 {
    font-size: 5em;
    margin: 0.5em;
}
p {
    font-size: 2em;
    max-width: 15em;
}
section:nth-of-type(2)>p:nth-of-type(3) {
    color: rgb(118, 119, 121);
    margin: 2em;
}





/* DERDE SECTIE */
section:nth-of-type(3) {
    background-color: rgb(245, 219, 171);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}
section:nth-of-type(3)>h1 {
    color: orange;
}
/* deze li's wil ik onder elkaar, naast de afbeelding hebben staan */
section:nth-of-type(3)>ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: orange;
}





/*VIERDE SECTIE*/
section:nth-of-type(4) {
    background-color: rgb(173, 201, 215);
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}
section:nth-of-type(4)>img {
    margin: 10em;
    width: 30em;
}
section:nth-of-type(4)>h1 {
    color:rgb(47, 65, 173);
    max-width: 15em;
}





/*VIJFDE SECTIE*/
section:nth-of-type(5) > h1 {
    padding-top: 2em;
    text-align: center;

}
/* hier wil ik een carrousel van maken*/
section:nth-of-type(5)>ul {
    padding-top: 10em;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

